

.girador-spinner {
    width: 100px;
    height: 100px;
    border: 15px solid  #eae5e5;
    border-top: 15px solid rgb(116, 164, 241);
    border-radius: 50%;    
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
